.title {
    padding: 80px;
    text-align: center;
    background-color:  blueviolet;
    color: black;
}
.header h1 {
    font-size: 50px;
}
.nav {
    overflow: hidden;
    background-color: #333;
    padding: 16px;
}
.nav a {
    font-size: 25px;
    display: absolute;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}
.nav a:hover {
    background-color: #ddd;
    color: black;
}
.shadow {
    color: #fff;
    font-family: Arvo;
    font-weight: bold;
    text-shadow:
      -3px -3px 0 #222,
      3px -3px 0 #222,
      -3px 3px 0 #222,
      3px 3px 0 #222,
      4px 4px 0 #fff,
      5px 5px 0 #fff,
      6px 6px 0 #fff,
      7px 7px 0 #fff;
    line-height: 0.8em;
    letter-spacing: 0.1em;
    transform: scaleY(0.7);
    -webkit-transform: scaleY(0.7);
    -moz-transform: scaleY(0.7);
    margin:0;
    text-align: center;
  }
  .text {
      font-size: 200px;
  }
  .row {
    display: flex;
}


.column {
    flex: 50%;
    padding: 10px;
}
.column img{
    height: 100%;
}

.column2 {
    
    flex: 50%;
    padding: 10px;
}
.column2 p{
    line-height: 1.6;
    font-size:30px;
}
.column2 h1{
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', ;
}

.main h1 {
    font-size: 50px;
    word-break: break-all;
}
.contact{
    line-height: 1.6;
    font-size:30px;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin: 8px -16px;
}
.row,
.row > .column {
    padding: 8px;
}
.column {
    float: left;
    width: 25%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.content {
    background-color: white;
    padding: 10px;
}
.content img{
    width:300px;
    height:300px;
}
@media screen and (max-width: 900px) {
    .column {
        width: 50%;
    }
}
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

